---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Home</title>
	</head>
	<body>
		<div>
			<h1>Sito in Costruzione</h1>
			<p>Il sito è in fase di costruzione e sarà presto online!</p>
			<p>Se volete potete contattarci a questi recapiti:</p>
			<ul>
				<li>Michele (Telefono o Whatsapp): <a href="tel:+393668310490">366 8310 490</a></li>
				<li>Email: <a href="mailto:assiolobedandbreakfast@gmail.com">assiolobedandbreakfast@gmail.com</a></li>
			</ul>
			<p>...oppure visionare le nostre strutture su Booking:</p>
			<ul>
				<li><a href="https://www.booking.com/Share-l3Q5oY" target="_blank">B&B L'Assiolo</a></li>
				<li><a href="https://www.booking.com/Share-ooKM7N0" target="_blank">Affittacamere ViviConero</a></li>
			</ul>
		</div>
	</body>
</html>

<style>
	body {
		display: grid;
		place-items: center;
		min-height: 75vh;
		background-color: whitesmoke;
	}

	h1 {
		font-size: clamp(2rem, 10vw,3rem);
	}

	a {
		white-space: nowrap;
	}

	p {
		font-size: 1.3rem;
	}

	ul {
		font-size: 1.2rem;
		padding-left: 1.25rem;
	}
</style>